<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    Navigation:
    <ul>
      <li><%= link_to "Public page", public_path %></li>
      <li><%= link_to "Private page", private_path %></li>
    </ul>

    <%# if session['ls_auth_user'] %>
    <% if authenticated? %>
        <!-- Logged in as <%= session['ls_auth_user'] %> | <a href="/auth/sign_out">Logout</a></div> -->
        Logged in as <%= current_user %> | 
        <%#= link_to "Logout", sign_out_path %>
        <a href="/auth/sign_out">Logout</a>
        </div>
    <% end %>


    <%= yield %>
  </body>
</html>
