<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag "omniauth/rails/application.css", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    Navigation:
    <ul>
      <li><%= link_to "Public page", public_path %></li>
      <li><%= link_to "Private page", private_path %></li>
    </ul>

    <% if authenticated? %>
        Logged in as <%= authentication_session.name %>
        |
        <%= button_to "Logout", omniauth_rails.sign_out_url, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
